h1 {
  font-family: Sacramento, serif;
  color: #3d5361;
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: 3px;
}
h2 {
  font-family: 'Lora', serif;
  color: #3d5361;
  font-size: 14px;
  line-height: 1.5;
}
h3 {
  display: block;
  font-family: 'Lora', serif;
  color: #3d5361;
  font-size: 14px;
  line-height: 1.5;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-bottom: 40px;
}
p {
  display: block;
  font-family: 'Lora', serif;
  color: #3d5361;
  font-size: 14px;
  line-height: 1.5;
  margin-block-start: 1em;
  margin-block-end: 1em;
}
a {
  color: #D6B7B5;
  text-decoration: none;
}
/* a:hover {
  color: #D6B7B5;
  text-decoration: underline
} */
.fa-pinterest {
  width: 18px;
}
body {
    background-color: #F5F0ED;
    color: #575F7D;
    font-family: 'Lora', serif;
    font-size: 17px;
    font-weight: lighter;
}
.card-white {
  background-color: white;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
  margin: 20px 0px;
  text-align: center;
}
.profile-pic {
  /* display: none; */
  -webkit-animation: MoveAround 20s linear infinite;
}
@-webkit-keyframes MoveAround {
  from {
    transform: translateX(-40%);
  }
  to {
    transform: translateX(40%);
  }
}
.btn-container {
  display: flex;
  justify-content: space-between; /* Distributes buttons evenly with space between */
  gap: 20px; /* Optional: additional spacing between buttons */
}
.btn {
  background-color: #D6B7B5;
  color: white;
  padding: 15px 20px;
  border-radius: 10px;
}
.btn:hover {
  background-color: #F2E2DF;
  text-decoration: none;
}
.list-inline {
  list-style: none;
  padding-left: 0px;
}
.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}
.ul {
  display: block;
  padding: 40px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.container {
  /* width: 500px;   /* This sets the width */
  /* margin: 0 auto; This automatically sets left/right margins */ 
  display: grid;
  grid-template-columns: 1fr 2fr; /* 1/3 for the left side, 2/3 for the right side */
  gap: 20px; /* Space between the grid columns */
}
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
.left-column {
  /* This will be the left third of the page */
}

.right-column {
  /* This will be the right two-thirds of the page */
}
